$BodyColor: #f0f0f0;
$HeaderColor: #F47E05;
$FooterColor: #b4e5eb;

$Fonts: Verdana, Geneva, sans-serif;
$ButtonFontColor: white;
$ButtonFontHover: white;
$FooterFontColor: #085969;
$HeaderFontColor: white;
$HeaderFontColorHover: #179ab5;

$ButtonColor: #179ab5;
$ButtonHoverColor: #F47E05;

$EdgeColor: #0c697c;