.container{
	margin-bottom: -50px;
	min-height: 100%;
}

.login{
	&__container{
		display: grid;
		grid-template-rows: auto;
		/* grid-gap: 20px; */
		background-color: white;
		border-radius: 10px;
		border: 2px solid grey;
		width: 80%;
		margin: auto;
	}

	&__pseudo{
	}

	&__password{

	}
}


