.push{
	clear: both;
}

.project-container{
	display: grid;
	grid-template-columns: repeat(3 , 1fr);
	background-color: rgb(161, 16, 16);
	width: 1000px;
	margin: 0 auto 50px auto;
	border-radius: 5px 5px 5px 5px;
	border: 2px solid #666;
	box-sizing: border-box;
}

.project {

	&__title{
		grid-column: 1 / span 3;
	}

	&__header1{
		grid-column: 1 /span 1;
		font-weight: bold;
		font-size: 19px;
	}
	&__header2{
		grid-column: 3 /span 1;
		font-weight: bold;
		font-size: 19px;
	}

	&__probleme{
		grid-column: 1 / span 1;
		width: 330px;
		height: 400px;
		text-align: left;
		overflow-y: auto;
		font-size: 14px;
	}

	&__solution{
		grid-column: 3 / span 1;
		width: 330px;
		height:400px;
		text-align: right;
		font-size: 14px;
		overflow-y: auto;
	}

	&__graph{
		grid-column: 2 / span 1;
		grid-row: 3;
	}

	&__header-action{
		grid-column: 1 / span 3;
	}

	&__signature{
		grid-column: 1 / span 3;
		padding-bottom: 10px;
	}

}

.grid-actions{
	grid-column: 1 / span 3;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-row-gap: 10px;
	font-weight: bold;
	justify-items: center;
}

.action-card{
	display: grid;
	grid-template-columns: 1fr;
	width:300px;
	height:350px;
	border-radius: 5px 5px 5px 5px;
	border: 2px solid #666;

	&__title{
		height: 53px;
	}

	&__content{
		width: 296px;
		height: 290px;
		background-color: grey;
		overflow-y: auto;
		text-align:left;
	}
}

#oeuf{
	/* width: 300px; */
	height: 250px;
}

#debat{
	margin-top: 30px;
}

#header1 a, #header2 a{
		vertical-align: middle;
}


.button{
	vertical-align: text-bottom;
}

.buttond {
	display: block;
	/*height: 30px;
	line-height: 30px;*/
	color: #f5cb4c;
	background-color: #333;
	padding:2px;
	text-align: center;
	font: bold 1.3em "open-sans", Arial, Helvetica, Geneva, sans-serif;
	width: 96px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 2px solid grey;
}

.button-change {
	/*display: block;*/
	margin: 0px 0px 10px 10px;
	/*height: 20px;*/
	color: #f5cb4c;
	background-color: #333;
	padding: 2px;
	text-align: center;
	font: normal 0.6em "open-sans", Arial, Helvetica, Geneva, sans-serif;
	width: 96px;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 1px solid grey;
}

a.buttond:hover {
 background: #f5cb4c;
 color: black;
}



hr.style1 {
	border-top: 1px solid #8c8b8b;
	width: 325;
	margin-left:auto;
	margin-right:auto;
	margin-top: 2px;
}

hr.style2 {
	border-top: 3px double #8c8b8b;
	width: 980;
	margin-left:auto;
	margin-right:auto;
	margin-top: 2px;
}

#header3{
	text-align: center;
	height: 51px;
	font-size: 24px;
	width: 1000px;
}

#titleaction{
	text-align: left;
	color:#3B3131;
	font-size: 15px;
}


